
POSTGRES_USER=admin
POSTGRES_PASSWORD=cambiar_en_produccion
POSTGRES_DB=alentapp_db

DATABASE_URL=postgres://admin:cambiar_en_produccion@db:5432/alentapp_db


API_PORT=3000
WEB_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001


GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=cambiar_en_produccion